# Database
DATABASE_URL="postgresql://username:password@localhost:5432/sit_event_db?schema=public"

# Keycloak Configuration
KC_AUTH_SERVER_URL="https://cp25tt1.sit.kmutt.ac.th"
KC_REALM="cp25tt1-sit-event"
KC_CLIENT_ID="sit-event-client"
KC_CLIENT_SECRET="your-client-secret"
KC_REDIRECT_URI="http://localhost:3000/auth/callback"
KC_LOGOUT_REDIRECT_URI="http://localhost:3000"

# Application
PORT=3000
FRONTEND_URL="http://localhost:3001"